<div class="comments-list">
  <div class="answer-comment" *ngFor="let ac of answerComments_ | orderBy: 'createdDate': false">
    <div class="answer-comment-inner" *ngIf="answerId === ac.answerId">
      <div class="body">{{ ac.body }}</div>
      <div class="meta">
        <div class="created-date">{{ ac.createdDateHuman }}</div>
        <div class="author">{{ ac.author }}</div>
      </div>
    </div>
  </div>
</div>

<div class="comment-area" *ngIf="authorizedUser">
  <button class="btn btn-common" type="button" (click)="toggleCommentsFormsVisibility(answerId)" *ngIf="!commentsFormsVisibility" mat-button>
    Добавить комментарий
  </button>

  <form class="comment-form" (ngSubmit)="sendComment(answerId)" *ngIf="commentsFormsVisibility">
          <textarea class="comment"
                    id="answer_{{ answerId }}"
                    placeholder="Текст комментария"
                    (keyup)="setCommentFormValues(answerId, $event)"
                    [(ngModel)]="commentFormValues"
                    [ngModelOptions]="{standalone: true}"></textarea>

    <button class="btn btn-common" type="submit" mat-button [disabled]="!commentFormValues">
      Комментировать
    </button>
  </form>
</div>
