<div class="wrap">
  <div class="left">
    a
  </div>

  <div class="right">
    <h2 class="h2" [innerHTML]="question?.title || ''"></h2>

    <div class="text" [innerHTML]="question?.body || ''"></div>

    <div class="info">
      <div class="tags" *ngIf="question?.tags.length">
        <span class="tag-title">Тэги: </span>
        <span class="tag" *ngFor="let tagId of question?.tags" >{{ tagsObj[tagId] }}</span>
      </div>

      <div class="meta">
        <div class="created-date">{{ createdDateHuman }}</div>
        <div class="author">{{ questionAuthor }}</div>
      </div>
    </div>
  </div>
</div>
