@import "~vars.scss";

.wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: $basic-measure;
  margin-bottom: $basic-measure;
  border-bottom: 1px solid $unactive-color;

  .left{
    width: 40px;
  }

  .right{
    width: calc(100% - 40px);

    *{
      margin-top: 0;
    }

    .question-area{
      padding-bottom: $basic-measure;

      .text{
        padding-bottom: $basic-measure;
      }
    }

    .comments-wrap{
      overflow: hidden;

      .comments-list{

        .answer-comment{

          .answer-comment-inner{
            padding-bottom: $basic-measure;
            margin-bottom: $basic-measure;
            border-bottom: 1px solid $unactive-color;
            font-size: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            .body{

            }

            .meta{
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              align-items: center;
              width: 100%;


              .created-date{
                display: inline-block;
                font-size: 70%;
                color: $unactive-color;

                &:before{
                  content: '(';
                }

                &:after{
                  content: ')';
                }
              }

              .author{
                display: inline-block;
                margin-left: $basic-measure / 2;
              }
            }
          }
        }
      }

      .comment-area{

        .btn{

        }

        .comment-form{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          overflow: hidden;

          .comment{
            width: calc(100% - 220px);
            height: $basic-measure * 4;
            margin-right: $basic-measure;
          }

          .btn{
            width: 180px;
          }
        }
      }
    }

  }
}

