@import "~vars.scss";

.wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: $basic-measure;
  margin-bottom: $basic-measure;
  border-bottom: 1px solid $unactive-color;

  .left{
    width: 40px;
  }

  .right{
    width: calc(100% - 40px);

    *{
      margin-top: 0;
    }

    .text{
      padding-bottom: $basic-measure;
    }

  }
}

