<div class="wrap">
  <h2 class="h2">Редактирование профиля</h2>
  
  <div class="line">
    <input type="file" class="icon" placeholder="Аватар" (change)="uploadFile($event)">

    <div class="line-inner" *ngIf="authUser?.icon">
      <img [src]="authUser?.icon" alt="" class="icon">
    </div>
    <div class="delete" (click)="deleteImg()">Удалить</div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="line">
      <input class="name" id="name" placeholder="Имя" type="text" formControlName="name">
    </div>

    <div class="line">
      <input class="city" id="city" placeholder="Город" type="text" formControlName="city">
    </div>

    <div class="line">
      <textarea class="info" name="info" id="info" placeholder="Информация" formControlName="info" cols="30" rows="10"></textarea>
    </div>

    <div class="line">
      <button class="btn btn-common" type="submit" mat-button [disabled]="form.invalid">
        Отправить
      </button>
    </div>
  </form>
</div>