@import "~vars.scss";

.wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: $basic-measure * 2;

  .left{
    width: 40px;
  }

  .right{
    width: calc(100% - 40px);

    *{
      margin-top: 0;
    }

    .comments-wrap{
      overflow: hidden;

      .comments-list{

      }

      .comment-area{

        .comment-label{

        }

        .comment-form{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          overflow: hidden;

          .comment{
            width: calc(100% - 220px);
            height: $basic-measure * 4;
            margin-right: $basic-measure;
          }

          .btn{
            width: 180px;
          }
        }
      }
    }
  }
}