@import "~vars.scss";

.wrap{
	height: 100vh;

	.header{
		background: #000;
		color: #fff;
		height: 28px;
		padding: $basic-measure;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.nav{

			.link{

				&.active{
					color: red;
				}
			}
		}

		.auth{

		}
	}

	.main{
		padding: $basic-measure;
		overflow: hidden;
		height: calc(100% - 152px);
	}

	.footer{
		background: #000;
		color: #fff;
		height: 28px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: $basic-measure;
	}	
}