<div class="wrap">
  <header class="header">
    <nav class="nav">
      <a class="link" [routerLink]="'/questions'" routerLinkActive="active">Вопросы</a>
      <a class="link" [routerLink]="'/tags'" routerLinkActive="active">Теги</a>
      <a class="link" [routerLink]="'/users'" routerLinkActive="active">Участники</a>
      <a class="link" [routerLink]="'/question-create'" routerLinkActive="active">создать вопрос</a>
    </nav>

    <div class="auth">
      <div class="authorized" *ngIf="authorizedUserId">
        <div class="drop-menu" awDropMenu>
          <div class="title">{{ authorizedUserName }}</div>
          <div class="drop-area">
            <div class="link">Профиль</div>
            <div class="link" (click)="logout()">Выйти</div>
          </div>
        </div>
      </div>

      <div class="unauthorized" *ngIf="!authorizedUserId">
        <a class="link" [routerLink]="'/login'">Войти</a>
        <a class="link" [routerLink]="'/registration'">Зарегистрироваться</a>
      </div>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    © Sergey Kalinin 2018
  </footer>
</div>


