<div class="wrap">
  <header class="header">
    <nav class="nav">
      <a class="link" [routerLink]="'/questions'" routerLinkActive="active">Вопросы</a>
      <a class="link" [routerLink]="'/tags'" routerLinkActive="active">Теги</a>
      <a class="link" [routerLink]="'/users'" routerLinkActive="active">Участники</a>
    </nav>

    <div class="auth">
      <a class="link" [routerLink]="'/login'">Войти</a>
      <a class="link" [routerLink]="'/registration'">Зарегистрироваться</a>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    footer
  </footer>
</div>


