@import "~vars.scss";

.wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .up{
    color: $accent2-color;
    cursor: pointer;
  }

  .rating{
    font-size: 150%;
    fonr-weight: bold;
  }

  .down{
    color: $accent2-color;
    cursor: pointer;
  }

  .check{
    color: $unactive-color;
    font-weight: bold;
    cursor: pointer;

    &.solution{
      color: $green-color;
    }
  }

  .solution{
    color: $green-color;
    cursor: pointer;
  }
}