@import "~vars.scss";

.wrap{

  .h2{

  }

  .icon{
    display: inline-block;
    max-width: 100px;
    padding-bottom: $basic-measure;
  }

  .lines{

    .line{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: $basic-measure;

      .label{
        font-weight: bold;

        &:after{
          content: ':';
          margin-right: $basic-measure / 2;
        }
      }

      .val{

      }


    }
  }
}