<div class="wrap">
  <h2 class="h2">{{ user?.name }}</h2>

  <div class="lines">
    <div class="line">
      <div class="label">email</div>
      <div class="val">{{ user?.id }}</div>
    </div>

    <div class="line" *ngIf="user?.info">
      <div class="label">Инфо</div>
      <div class="val">{{ user?.info }}</div>
    </div>

    <div class="line" *ngIf="user?.city">
      <div class="label">Город</div>
      <div class="val">{{ user?.city }}</div>
    </div>

    <div class="line" *ngIf="user?.icon">
      <div class="label">Иконка</div>
      <div class="val">{{ user?.icon }}</div>
    </div>

    <div class="line" *ngIf="user?.createdDateUnix">
      <div class="label">Дата регистрации</div>
      <div class="val">{{ user?.createdDateUnix }}</div>
    </div>

    <div class="line" *ngIf="user?.id === authUser?.id">
      <button class="btn btn-common" type="button" mat-button>
        Редактировать
      </button>
    </div>
  </div>
</div>