<div class="comments-list">
  <div class="answer-comment" *ngFor="let qc of questionComments_">
    <div class="answer-comment-inner" *ngIf="questionId === qc.questionId">
      <div class="body">{{ qc.body }}</div>
      <div class="meta">
        <div class="created-date">{{ qc.createdDateHuman }}</div>
        <div class="author">{{ qc.author }}</div>
      </div>
    </div>
  </div>
</div>

<div class="comment-area" *ngIf="authorizedUser">
  <button class="btn btn-common" type="button" (click)="showQuestionCommentForm()" *ngIf="!questionCommentFormVisibility" mat-button>
    Добавить комментарий
  </button>

  <form class="comment-form" (ngSubmit)="sendQuestionComment(question?.id)" *ngIf="questionCommentFormVisibility">
          <textarea class="comment"
                    id="questionAnswer_{{ question?.id }}"
                    placeholder="Текст комментария"
                    (keyup)="setQuestionCommentFormValue($event)"
                    [(ngModel)]="questionCommentFormValue"
                    [ngModelOptions]="{standalone: true}"></textarea>

    <button class="btn btn-common" type="submit" mat-button [disabled]="!questionCommentFormValue">
      Комментировать
    </button>
  </form>
</div>